@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
.container__loader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: white;
  z-index: 1000;
  animation: loader 2s ease-in-out forwards;
}

.loader__circle {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid var(--color-purple);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

.loader__circle::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-left: 4px solid var(--color-green);
  border-bottom: 4px solid transparent;
  animation: rotation 1s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader__text {
  position: absolute;
  font-family: "Shrikhand";
  font-size: 20px;
  font-weight: bold;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
.heart-checkbox {
  display: none;
}

.heart {
  stroke: var(--color-black);
  z-index: 1;
  cursor: pointer;
}
.heart path {
  stroke: var(--color-black);
  stroke-dasharray: 70;
  stroke-dashoffset: 0;
}

.heart-checkbox:checked + label .heart path {
  fill: url(#paint0_linear_148695_5271);
  stroke: url(#paint0_linear_148695_5271);
}

.heart-checkbox:not(:checked):hover + label .heart path {
  animation: heart 2s linear forwards;
}

@keyframes heart {
  0% {
    stroke-dashoffset: 0;
    stroke: url(#paint0_linear_148695_5271);
  }
  40% {
    stroke-dashoffset: 70;
    stroke: url(#paint0_linear_148695_5271);
  }
  80% {
    stroke-dashoffset: 140;
    stroke: url(#paint0_linear_148695_5271);
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 140;
    stroke: url(#paint0_linear_148695_5271);
    fill: url(#paint0_linear_148695_5271);
  }
}
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.header .header__logo {
  font-family: "Shrikhand";
  margin: 14px 0;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}
.header .backToHome {
  position: absolute;
  left: 18px;
}
.header .backToHome .backToHome__svg {
  width: 30px;
  height: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-grey);
  padding: 22px 26px;
}
.footer .footer__logo {
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-white);
}
.footer .footer--list {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: var(--color-white);
  padding: 0;
  margin: 16px 0 0 0;
}
.footer .footer--list .footer--list__item {
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.footer .footer--list .footer--list__item i {
  margin-right: 14px;
}
.footer .footer--list .footer--list__item .footer__item--contact {
  color: var(--color-white);
}
.footer .footer--list .footer--list__item .footer__item--text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 2;
}

:root {
  --color-purple: #9356DC ;
  --color-pink: #FF79DA;
  --color-green: #99E2D0;
  --color-green2: #008766;
  --color-grey: #353535;
  --color-grey2: #EAEAEA;
  --color-grey3: #F6F6F6;
  --color-grey4: #7E7E7E;
  --color-black: #101010;
  --color-white: #FFF;
}

* {
  box-sizing: border-box;
  position: relative;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  counter-reset: mycounter;
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-grey);
  background-color: var(--color-grey2);
  padding: 16px 0;
}
.location .location__name {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--color-grey);
  font-family: "Roboto", Arial, sans-serif;
  margin-left: 18px;
  padding: 2px;
  width: 124px;
  border: transparent;
  text-align: left;
  background-color: var(--color-grey2);
}
.location .location__name::placeholder {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--color-grey);
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  background-color: var(--color-grey2);
}

.section {
  display: flex;
  flex-direction: column;
}

.section__booking {
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey3);
  text-align: center;
  opacity: 0;
  animation: slide-down 3s forwards;
  animation-delay: 1s;
}
.section__booking .booking--title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 0;
  padding: 0 50px 10px 50px;
}
.section__booking .booking--description {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}
.section__booking .booking--button__link {
  text-align: center;
  color: var(--color-white);
  background: linear-gradient(193deg, var(--color-purple) -11.44%, var(--color-pink) 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 18px;
  margin: 28px 0 58px 0;
  border: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.section__booking .booking--button__link:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, var(--color-purple) -5.2%, var(--color-pink) 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.section__functioning .functioning--title {
  font-size: 24px;
  font-weight: 700;
  margin: 48px 0 2px 20px;
}
.section__functioning .functioning--list {
  margin: auto;
  padding: 0;
  width: calc(100% - 40px);
  list-style-type: none;
}
.section__functioning .functioning--list .functioning--list__item {
  position: relative;
  opacity: 0;
  margin-top: 24px;
  margin-bottom: 12px;
}
.section__functioning .functioning--list .functioning--list__item:nth-child(1) {
  animation: slide-left 3s forwards;
  animation-delay: 1.4s;
}
.section__functioning .functioning--list .functioning--list__item:nth-child(2) {
  animation: slide-left 3s forwards;
  animation-delay: 1.6s;
}
.section__functioning .functioning--list .functioning--list__item:nth-child(3) {
  animation: slide-left 3s forwards;
  animation-delay: 1.8s;
}
.section__functioning .functioning--list .functioning--list__item:before {
  content: counter(mycounter);
  counter-increment: mycounter;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--color-purple);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: -12px;
  color: var(--color-white);
  font-size: 12px;
  z-index: 1;
}
.section__functioning .functioning--list .functioning--list__item .functioning__item {
  display: flex;
  justify-content: baseline;
  align-items: center;
  width: 100%;
  background: var(--color-grey3);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  border: transparent;
  padding: 28px 38px;
  cursor: pointer;
}
.section__functioning .functioning--list .functioning--list__item .functioning__item i {
  font-size: 20px;
  color: var(--color-grey4);
}
.section__functioning .functioning--list .functioning--list__item .functioning__item .fa-store {
  color: var(--color-purple);
}
.section__functioning .functioning--list .functioning--list__item .functioning__item .functioning__item--text {
  margin: 0;
  margin-left: 26px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.section__restaurants {
  background-color: var(--color-grey3);
  margin-top: 68px;
  padding-bottom: 66px;
}
.section__restaurants .restaurants--title {
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
}
.section__restaurants .restaurants--card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.section__restaurants .restaurants--card .cards {
  position: relative;
  width: calc(100% - 40px);
  margin-bottom: 18px;
  background-color: var(--color-white);
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  opacity: 0;
}
.section__restaurants .restaurants--card .cards:nth-child(1) {
  animation: slide-left 3s forwards;
  animation-delay: 1.4s;
}
.section__restaurants .restaurants--card .cards:nth-child(2) {
  animation: slide-left 3s forwards;
  animation-delay: 1.6s;
}
.section__restaurants .restaurants--card .cards:nth-child(3) {
  animation: slide-left 3s forwards;
  animation-delay: 1.8s;
}
.section__restaurants .restaurants--card .cards:nth-child(4) {
  animation: slide-left 3s forwards;
  animation-delay: 2s;
}
.section__restaurants .restaurants--card .cards .restaurants--card__link {
  flex-grow: 1;
}
.section__restaurants .restaurants--card .cards .restaurants--card__figure {
  position: relative;
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.section__restaurants .restaurants--card .cards .restaurants--card__figure .card__figure--img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section__restaurants .restaurants--card .cards .restaurants--card__figure .card__figure--tag {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 2px;
  padding: 6px 8px;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--color-green);
  color: var(--color-green2);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.section__restaurants .restaurants--card .cards .restaurants--card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 26px 0 14px;
}
.section__restaurants .restaurants--card .cards .restaurants--card__description .card__description--text .card__title {
  font-size: 18px;
  font-weight: 700;
  margin: 16px 0 4px 0;
}
.section__restaurants .restaurants--card .cards .restaurants--card__description .card__description--text .card__subtitle {
  margin: 0;
  margin-bottom: 12px;
  font-size: 17px;
  font-weight: 300;
}

@media screen and (min-width: 750px) {
  .section__booking .booking--title {
    font-size: 32px;
  }
  .section__functioning .container__home {
    width: 80%;
  }
  .section__functioning .container__home .functioning--list .functioning--list__item {
    position: relative;
    opacity: 0;
  }
  .section__functioning .container__home .functioning--list .functioning--list__item:before {
    content: counter(mycounter);
    counter-increment: mycounter;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: var(--color-purple);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -12px;
    color: var(--color-white);
    font-size: 12px;
    z-index: 1;
  }
  .section__functioning .container__home .functioning--list .functioning--list__item .functioning__item {
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    background: var(--color-grey3);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border: transparent;
    padding: 28px 38px;
    cursor: pointer;
  }
  .section__functioning .container__home .functioning--list .functioning--list__item .functioning__item i {
    font-size: 20px;
    color: var(--color-grey4);
  }
  .section__functioning .container__home .functioning--list .functioning--list__item .functioning__item .fa-store {
    color: var(--color-purple);
  }
  .section__functioning .container__home .functioning--list .functioning--list__item .functioning__item .functioning__item--text {
    margin: 0;
    margin-left: 26px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
  }
  .section__restaurants {
    background-color: var(--color-grey3);
    margin-top: 68px;
    padding-bottom: 66px;
  }
  .section__restaurants .container__home {
    width: 80%;
    margin: auto;
  }
  .section__restaurants .container__home .restaurants--title {
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
  }
  .section__restaurants .container__home .restaurants--card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    overflow: hidden;
  }
  .section__restaurants .container__home .restaurants--card .cards {
    position: relative;
    width: calc(50% - 20px);
    margin-bottom: 18px;
    background-color: var(--color-white);
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
  }
  .section__restaurants .container__home .restaurants--card .cards:nth-child(1) {
    animation: slide-left 3s forwards;
    animation-delay: 1.4s;
  }
  .section__restaurants .container__home .restaurants--card .cards:nth-child(2) {
    animation: slide-left 3s forwards;
    animation-delay: 1.6s;
  }
  .section__restaurants .container__home .restaurants--card .cards:nth-child(3) {
    animation: slide-left 3s forwards;
    animation-delay: 1.8s;
  }
  .section__restaurants .container__home .restaurants--card .cards:nth-child(4) {
    animation: slide-left 3s forwards;
    animation-delay: 2s;
  }
  .section__restaurants .container__home .restaurants--card .cards .restaurants--card__figure {
    position: relative;
    width: 100%;
    height: 174px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
  }
  .section__restaurants .container__home .restaurants--card .cards .restaurants--card__figure .card__figure--img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .section__restaurants .container__home .restaurants--card .cards .restaurants--card__figure .card__figure--tag {
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 2px;
    padding: 6px 8px;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--color-green);
    color: var(--color-green2);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .section__restaurants .container__home .restaurants--card .cards .restaurants--card__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 26px 0 14px;
  }
  .section__restaurants .container__home .restaurants--card .cards .restaurants--card__description .card__description--text .card__title {
    font-size: 18px;
    font-weight: 700;
    margin: 16px 0 4px 0;
  }
  .section__restaurants .container__home .restaurants--card .cards .restaurants--card__description .card__description--text .card__subtitle {
    margin: 0;
    margin-bottom: 12px;
    font-size: 17px;
    font-weight: 300;
  }
}
@media screen and (min-width: 1024px) {
  .section__booking .booking--title {
    font-size: 40px;
  }
  .section__functioning {
    width: 85%;
  }
  .section__functioning .functioning--list {
    display: flex;
    justify-content: space-between;
  }
  .section__functioning .functioning--list .functioning--list__item {
    width: calc(33.3333333333% - 2em);
    position: relative;
    opacity: 0;
  }
  .section__functioning .functioning--list .functioning--list__item:before {
    content: counter(mycounter);
    counter-increment: mycounter;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: var(--color-purple);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -12px;
    color: var(--color-white);
    font-size: 12px;
    z-index: 1;
  }
  .section__functioning .functioning--list .functioning--list__item .functioning__item {
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    background: var(--color-grey3);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border: transparent;
    padding: 28px 38px;
    cursor: pointer;
  }
  .section__functioning .functioning--list .functioning--list__item .functioning__item i {
    font-size: 20px;
    color: var(--color-grey4);
  }
  .section__functioning .functioning--list .functioning--list__item .functioning__item .fa-store {
    color: var(--color-purple);
  }
  .section__functioning .functioning--list .functioning--list__item .functioning__item .functioning__item--text {
    margin: 0;
    margin-left: 26px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
  }
  .section__restaurants {
    background-color: var(--color-grey3);
    margin-top: 68px;
    padding-bottom: 66px;
  }
  .section__restaurants .restaurants--title {
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
  }
  .section__restaurants .restaurants--card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
  .section__restaurants .restaurants--card .cards {
    position: relative;
    width: calc(100% - 40px);
    margin-bottom: 18px;
    background-color: var(--color-white);
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
  }
  .section__restaurants .restaurants--card .cards:nth-child(1) {
    animation: slide-left 3s forwards;
    animation-delay: 1.4s;
  }
  .section__restaurants .restaurants--card .cards:nth-child(2) {
    animation: slide-left 3s forwards;
    animation-delay: 1.6s;
  }
  .section__restaurants .restaurants--card .cards:nth-child(3) {
    animation: slide-left 3s forwards;
    animation-delay: 1.8s;
  }
  .section__restaurants .restaurants--card .cards:nth-child(4) {
    animation: slide-left 3s forwards;
    animation-delay: 2s;
  }
  .section__restaurants .restaurants--card .cards .restaurants--card__figure {
    position: relative;
    width: 100%;
    height: 174px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
  }
  .section__restaurants .restaurants--card .cards .restaurants--card__figure .card__figure--img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .section__restaurants .restaurants--card .cards .restaurants--card__figure .card__figure--tag {
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 2px;
    padding: 6px 8px;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--color-green);
    color: var(--color-green2);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .section__restaurants .restaurants--card .cards .restaurants--card__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 26px 0 14px;
  }
  .section__restaurants .restaurants--card .cards .restaurants--card__description .card__description--text .card__title {
    font-size: 18px;
    font-weight: 700;
    margin: 16px 0 4px 0;
  }
  .section__restaurants .restaurants--card .cards .restaurants--card__description .card__description--text .card__subtitle {
    margin: 0;
    margin-bottom: 12px;
    font-size: 17px;
    font-weight: 300;
  }
}
@media screen and (min-width: 1150px) {
  .section__booking .booking--title {
    font-size: 40px;
  }
  .section__functioning {
    width: 85%;
  }
  .section__functioning .functioning--list {
    display: flex;
    justify-content: space-between;
  }
  .section__functioning .functioning--list .functioning--list__item {
    width: calc(33.3333333333% - 2em);
    position: relative;
    opacity: 0;
  }
  .section__functioning .functioning--list .functioning--list__item:before {
    content: counter(mycounter);
    counter-increment: mycounter;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: var(--color-purple);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -12px;
    color: var(--color-white);
    font-size: 12px;
    z-index: 1;
  }
  .section__functioning .functioning--list .functioning--list__item .functioning__item {
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    background: var(--color-grey3);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border: transparent;
    padding: 28px 38px;
    cursor: pointer;
  }
  .section__functioning .functioning--list .functioning--list__item .functioning__item i {
    font-size: 20px;
    color: var(--color-grey4);
  }
  .section__functioning .functioning--list .functioning--list__item .functioning__item .fa-store {
    color: var(--color-purple);
  }
  .section__functioning .functioning--list .functioning--list__item .functioning__item .functioning__item--text {
    margin: 0;
    margin-left: 26px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    text-wrap: nowrap;
  }
  .section__restaurants {
    background-color: var(--color-grey3);
    margin-top: 68px;
    padding-bottom: 66px;
  }
  .section__restaurants .restaurants--title {
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
  }
  .section__restaurants .restaurants--card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
  .section__restaurants .restaurants--card .cards {
    position: relative;
    width: calc(100% - 40px);
    margin-bottom: 18px;
    background-color: var(--color-white);
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
  }
  .section__restaurants .restaurants--card .cards:nth-child(1) {
    animation: slide-left 3s forwards;
    animation-delay: 1.4s;
  }
  .section__restaurants .restaurants--card .cards:nth-child(2) {
    animation: slide-left 3s forwards;
    animation-delay: 1.6s;
  }
  .section__restaurants .restaurants--card .cards:nth-child(3) {
    animation: slide-left 3s forwards;
    animation-delay: 1.8s;
  }
  .section__restaurants .restaurants--card .cards:nth-child(4) {
    animation: slide-left 3s forwards;
    animation-delay: 2s;
  }
  .section__restaurants .restaurants--card .cards .restaurants--card__figure {
    position: relative;
    width: 100%;
    height: 174px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
  }
  .section__restaurants .restaurants--card .cards .restaurants--card__figure .card__figure--img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .section__restaurants .restaurants--card .cards .restaurants--card__figure .card__figure--tag {
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 2px;
    padding: 6px 8px;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--color-green);
    color: var(--color-green2);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .section__restaurants .restaurants--card .cards .restaurants--card__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 26px 0 14px;
  }
  .section__restaurants .restaurants--card .cards .restaurants--card__description .card__description--text .card__title {
    font-size: 18px;
    font-weight: 700;
    margin: 16px 0 4px 0;
  }
  .section__restaurants .restaurants--card .cards .restaurants--card__description .card__description--text .card__subtitle {
    margin: 0;
    margin-bottom: 12px;
    font-size: 17px;
    font-weight: 300;
  }
}

/*# sourceMappingURL=home.css.map */
