@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
.container__loader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: white;
  z-index: 1000;
  animation: loader 2s ease-in-out forwards;
}

.loader__circle {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid var(--color-purple);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

.loader__circle::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-left: 4px solid var(--color-green);
  border-bottom: 4px solid transparent;
  animation: rotation 1s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader__text {
  position: absolute;
  font-family: "Shrikhand";
  font-size: 20px;
  font-weight: bold;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
.heart-checkbox {
  display: none;
}

.heart {
  stroke: var(--color-black);
  z-index: 1;
  cursor: pointer;
}
.heart path {
  stroke: var(--color-black);
  stroke-dasharray: 70;
  stroke-dashoffset: 0;
}

.heart-checkbox:checked + label .heart path {
  fill: url(#paint0_linear_148695_5271);
  stroke: url(#paint0_linear_148695_5271);
}

.heart-checkbox:not(:checked):hover + label .heart path {
  animation: heart 2s linear forwards;
}

@keyframes heart {
  0% {
    stroke-dashoffset: 0;
    stroke: url(#paint0_linear_148695_5271);
  }
  40% {
    stroke-dashoffset: 70;
    stroke: url(#paint0_linear_148695_5271);
  }
  80% {
    stroke-dashoffset: 140;
    stroke: url(#paint0_linear_148695_5271);
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 140;
    stroke: url(#paint0_linear_148695_5271);
    fill: url(#paint0_linear_148695_5271);
  }
}
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.header .header__logo {
  font-family: "Shrikhand";
  margin: 14px 0;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}
.header .backToHome {
  position: absolute;
  left: 18px;
}
.header .backToHome .backToHome__svg {
  width: 30px;
  height: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-grey);
  padding: 22px 26px;
}
.footer .footer__logo {
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-white);
}
.footer .footer--list {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: var(--color-white);
  padding: 0;
  margin: 16px 0 0 0;
}
.footer .footer--list .footer--list__item {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer .footer--list .footer--list__item i {
  width: 16px;
  margin-right: 14px;
}
.footer .footer--list .footer--list__item .footer__item--contact {
  color: var(--color-white);
}
.footer .footer--list .footer--list__item .footer__item--text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 2;
}

@media screen and (min-width: 750px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    padding: 30px 26px;
  }
  .footer .footer__logo {
    margin-left: 80px;
  }
  .footer .footer--list {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  .footer .footer--list .footer--list__item {
    margin-left: 10px;
  }
  .footer .footer--list .footer--list__item:nth-child(3) {
    margin-left: 40px;
  }
}
:root {
  --color-purple: #9356DC ;
  --color-pink: #FF79DA;
  --color-green: #99E2D0;
  --color-green2: #008766;
  --color-grey: #353535;
  --color-grey2: #EAEAEA;
  --color-grey3: #F6F6F6;
  --color-grey4: #7E7E7E;
  --color-black: #101010;
  --color-white: #FFF;
}

* {
  box-sizing: border-box;
  position: relative;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  counter-reset: mycounter;
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.banner {
  position: relative;
  width: 100%;
  height: 275px;
  overflow: hidden;
  opacity: 0;
  animation: slide-down 3s forwards;
  animation-delay: 1s;
}
.banner .banner__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  background-color: var(--color-grey3);
  border-radius: 40px 40px 0px 0px;
  margin-top: -55px;
}
.menu .menu__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px 0 16px;
}
.menu .menu__description .menu__title {
  margin: 0;
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
}
.menu .section__menu {
  display: flex;
  flex-direction: column;
}
.menu .section__menu .menu--section__title {
  position: relative;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  padding-left: 16px;
  margin: 42px 0 0 0;
  opacity: 0;
  animation: slide-up 2s forwards;
  animation-delay: 1s;
}
.menu .section__menu .menu--section__title::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 4px;
  width: 40px;
  height: 3px;
  background-color: var(--color-green);
}
.menu .section__menu .menu--section__choices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.menu .section__menu .menu--section__choices .menu__choice {
  display: flex;
  width: calc(100% - 32px);
  list-style: none;
  margin-top: 12px;
  background-color: var(--color-white);
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  opacity: 0;
}
.menu .section__menu .menu--section__choices .menu__choice:first-child {
  margin-top: 16px;
  animation: slide-up 2s forwards;
  animation-delay: 1.4s;
}
.menu .section__menu .menu--section__choices .menu__choice:nth-child(2) {
  animation: slide-up 2s forwards;
  animation-delay: 1.8s;
}
.menu .section__menu .menu--section__choices .menu__choice:nth-child(3) {
  animation: slide-up 2s forwards;
  animation-delay: 2.2s;
}
.menu .section__menu .menu--section__choices .menu__choice:nth-child(4) {
  animation: slide-up 2s forwards;
  animation-delay: 2.6s;
}
.menu .section__menu .menu--section__choices .menu__choice .menu__input {
  display: none;
}
.menu .section__menu .menu--section__choices .menu__choice .menu__input:checked + .menu__label .menu__price--and--check {
  margin-left: 60px;
}
.menu .section__menu .menu--section__choices .menu__choice .menu__input:checked + .menu__label .menu__price--and--check .menu__check {
  right: 0;
}
.menu .section__menu .menu--section__choices .menu__choice .menu__input:checked + .menu__label .menu__price--and--check .menu__price {
  left: -60px;
}
.menu .section__menu .menu--section__choices .menu__choice .menu__label {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}
.menu .section__menu .menu--section__choices .menu__choice .menu__label:hover .menu__price--and--check {
  margin-left: 60px;
}
.menu .section__menu .menu--section__choices .menu__choice .menu__label:hover .menu__price--and--check .menu__check {
  right: 0;
}
.menu .section__menu .menu--section__choices .menu__choice .menu__label:hover .menu__price--and--check .menu__price {
  left: -60px;
}
.menu .section__menu .menu--section__choices .menu__choice .menu__label .choice__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% - 10px);
  padding: 16px;
}
.menu .section__menu .menu--section__choices .menu__choice .menu__label .choice__description .choice__title {
  margin: 0;
  margin-bottom: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
}
.menu .section__menu .menu--section__choices .menu__choice .menu__label .choice__description .choice__accompaniement {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  width: 100%;
}
.menu .section__menu .menu--section__choices .menu__choice .menu__label .menu__price--and--check {
  position: relative;
  display: flex;
  height: 100%;
  transition: all 0.3s ease;
}
.menu .section__menu .menu--section__choices .menu__choice .menu__label .menu__price--and--check .menu__price {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-right: 14px;
  padding: 16px 0;
  left: 0;
  transition: left 0.3s ease;
}
.menu .section__menu .menu--section__choices .menu__choice .menu__label .menu__price--and--check .menu__check {
  position: absolute;
  top: 0;
  right: -60px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  color: var(--color-white);
  background-color: var(--color-green);
  border-radius: 0 15px 15px 0;
  transition: right 0.3s ease;
}
.menu .button__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-up 2s forwards;
  opacity: 0;
  animation-delay: 2.6s;
}
.menu .button__menu .menu__btn {
  padding: 16px 48px;
  margin: 40px auto;
  border-radius: 25px;
  background: linear-gradient(193deg, var(--color-purple) -11.44%, var(--color-pink) 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: var(--color-white);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  border: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.menu .button__menu .menu__btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, var(--color-purple) -5.2%, var(--color-pink) 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

@media screen and (min-width: 750px) {
  .menu {
    width: 80%;
    margin: 0 auto;
    margin-top: -55px;
  }
  .menu .menu__description {
    justify-content: center;
  }
  .menu .menu__description .menu__title {
    margin-right: 20px;
  }
  .menu .section__menu {
    width: 60%;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=restaurants.css.map */
