@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
.container__loader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: white;
  z-index: 1000;
  animation: loader 3s ease-in-out forwards;
}

.loader__circle {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid var(--color-purple);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 3s linear infinite;
}

.loader__circle::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-left: 4px solid var(--color-green);
  border-bottom: 4px solid transparent;
  animation: rotation 1.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader__text {
  position: absolute;
  font-family: "Shrikhand";
  font-size: 20px;
  font-weight: bold;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
.heart-checkbox {
  display: none;
}

.heart {
  stroke: var(--color-black);
  z-index: 1;
  cursor: pointer;
}

.heart-checkbox:checked + label .heart {
  fill: url(#paint0_linear_148695_527);
  stroke: url(#paint0_linear_148695_527);
}

.heart-checkbox:hover + label .heart {
  fill: url(#paint0_linear_148695_527);
  stroke: url(#paint0_linear_148695_527);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.header__logo {
  font-family: "Shrikhand";
  margin: 14px 0;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-grey);
  padding: 22px 26px;
}
.footer .footer__logo {
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-white);
}
.footer .footer--list {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: var(--color-white);
  padding: 0;
  margin: 16px 0 0 0;
}
.footer .footer--list .footer--list__item {
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.footer .footer--list .footer--list__item i {
  margin-right: 14px;
}
.footer .footer--list .footer--list__item .footer__item--contact {
  color: var(--color-white);
}
.footer .footer--list .footer--list__item .footer__item--text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 2;
}

:root {
  --color-purple: #9356DC ;
  --color-pink: #FF79DA;
  --color-green: #99E2D0;
  --color-green2: #008766;
  --color-grey: #353535;
  --color-grey2: #EAEAEA;
  --color-grey3: #F6F6F6;
  --color-grey4: #7E7E7E;
  --color-black: #101010;
  --color-white: #FFF;
}

* {
  box-sizing: border-box;
  position: relative;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  counter-reset: mycounter;
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  overflow: hidden;
}

/*# sourceMappingURL=restaurants.css.map */
