@import './components/loader.scss';
@import './components/heart.scss';
@import './components/header.scss';
@import './components/footer.scss';
@import './style.scss';

.banner {
    position: relative;
    width: 100%;
    height: 275px;
    overflow: hidden;

    .banner__img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover
    }
}

.menu {
    background-color: var(--color-grey3);
    border-radius: 40px 40px 0px 0px;
    margin-top: -55px;

    .menu__description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 40px 0 16px;

        .menu__title {
            margin: 0;
            font-family: Shrikhand;
            font-size: 28px;
            font-weight: 400;
        }
    }

    .section__menu {
        display: flex;
        flex-direction: column;

        .menu--section__title {
            position: relative;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 300;
            text-transform: uppercase;
            padding-left: 16px;
            margin: 42px 0 0 0;

            &::after {
                content: "";
                display: block;
                position: absolute;
                margin-top: 4px;
                width: 40px;
                height: 3px;
                background-color: var(--color-green);
              }
        }

        .menu--section__choices {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0;
            margin: 0;
        
            .menu__choice {
                display: flex;
                width: calc(100% - 32px);
                list-style: none;
                margin-top: 12px;
                background-color: var(--color-white);
                border-radius: 15px;
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);

                &:first-child {
                    margin-top: 16px;
                }

                .menu__input {
                    display: none;

                    &:checked + .menu__label .menu__price--and--check {
                        margin-left: 60px;

                        .menu__check {
                            right: 0;
                        }

                        .menu__price {
                            left: -60px;
                        }
                    }
                    
                }

                .menu__label {
                    display: flex;
                    justify-content: space-between;
                    align-items: end;
                    width: 100%;
                    cursor: pointer;
                    overflow: hidden;

                    &:hover .menu__price--and--check {
                        margin-left: 60px;

                        .menu__check {
                            right: 0;
                        }

                        .menu__price {
                            left: -60px;
                        }
                    }

                    .choice__description {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: baseline;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: calc(100% - 10px);
                        padding: 16px;

                        .choice__title {
                            margin: 0;
                            margin-bottom: 4px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            font-family: Roboto;
                            font-size: 18px;
                            font-weight: 500;
                            width: 100%;
                        }

                        .choice__accompaniement {
                            margin: 0;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            font-family: Roboto;
                            font-size: 15px;
                            font-weight: 300;
                            width: 100%;
                        }
                    }

                    .menu__price--and--check {
                        position: relative;
                        display: flex;
                        height: 100%;
                        transition: all 0.3s ease;

                        .menu__price {
                            display: flex;
                            justify-content: center;
                            align-items: end;
                            margin-right: 14px;
                            padding: 16px 0;
                            left: 0;
                            transition: left 0.3s ease;
                        }
                        
                        .menu__check {
                            position: absolute;
                            top: 0;
                            right: -60px;
                            bottom: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 60px;
                            color: var(--color-white);
                            background-color: var(--color-green);
                            border-radius: 0 15px 15px 0;
                            transition: right 0.3s ease;
                        }
                    }
                }
            }

        }
    }

    .button__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        
    
        .menu__btn {
            padding: 16px 48px;
            margin: 40px auto;
            border-radius: 25px;
            background: linear-gradient(193deg, var(--color-purple) -11.44%, var(--color-pink) 123.93%);
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            color: var(--color-white);
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            border: transparent;
            cursor: pointer;
    
            &:hover {
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, var(--color-purple) -5.2%, var(--color-pink) 110.74%);
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
            }
        }
    }
}

